---

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";


const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
        <link rel="icon" href="/public/images/Logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		
	</head>
	<body class="min-h-screen flex flex-col">
		<Navigation />

		<!-- Contenedor principal con flex-grow para llenar el espacio -->
		<main class="flex-grow container mx-auto pt-20">
			<slot />
			<h1>Bienvenido a mi sitio web</h1>
			<p>Aquí va el contenido...</p>
		</main>

		<Footer />
		
		<script>
			import "../../scripts/main.js";
			</script>
	</body>
	
</html>
