---
const {content} = Astro.props;
---

<div>
    <div class="w-auto h-5 bg-white rounded-t-lg pl-4">
        $.
    </div>
    <div class="w-auto h-16 bg-black rounded-b-lg pl-8 flex items-center font-color" >
        <p>{content}</p>
    </div>
</div>

<style>
    .font-color{
        color:rgb(184, 225, 221)
    }
</style>