---
import Layout from "./layouts/Layout.astro"
--- 

<Layout title="Roger Barahona">

    <div style="">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam sapiente doloribus esse, consequatur fugit recusandae inventore vero labore error nesciunt enim, quidem, reiciendis ratione. Ea eum aspernatur aliquid temporibus totam ab cupiditate eaque iure sed consequatur incidunt iste itaque ut voluptatem facilis, nemo fuga voluptas quae sunt fugiat cumque quaerat numquam id. Provident tempore quis pariatur inventore architecto voluptate voluptatibus vero vitae voluptas in eius aspernatur a fugiat iure sit error veniam, exercitationem illo reprehenderit ullam! Ipsam dolore vel temporibus enim. Iste ea veniam rem non modi voluptatum, expedita, explicabo labore, consequatur culpa quibusdam nam hic enim. Adipisci, expedita modi!
            lorem100*4
        </p>
    </div>

</Layout>


