---
import Layout from "../layouts/Layout.astro"
import ConsoleDiv from "../components/ConsoleDiv.astro"
import TextBox from "../components/TextBox.astro"
--- 

<Layout title="Roger Barahona">

    <div slot="left-side" class="flex flex-col space-y-4 justify-center ">
        <img src="../../public/images/RogerB.png" alt="" style="width: 400px; height: 400px" class="p-4">
        <br>
        <ConsoleDiv content=">. Hola, mi nombre es Roger Barahona!!"/>
    </div>

    <div slot="rigth-side" class="p-4 flex flex-col space-y-4 justify-center items-center">

        <TextBox 
            title1="Acerca de mi..." 
            title2=""
            content1="Soy un apasionado de la programación, el desarrollo web y el análisis de bases de datos. Mi amor por el código comenzó en la secundaria cuando desarrollé mi primer sitio web. Desde entonces, he trabajado para incrementar y perfeccionar mis habilidades en HTML, JavaScript, TypeScript y otras tecnologías. hola"
            content2="A través de mis habilidades y experiencia, puedo ayudar a organizaciones y personas que necesiten soluciones tecnológicas eficientes y personalizadas. Mi objetivo es aplicar mis conocimientos para desarrollar aplicaciones web funcionales y escalables, optimizar procesos y mejorar la experiencia del usuario. Estoy comprometido a contribuir al éxito de los proyectos, ofreciendo soluciones innovadoras que se adapten a las necesidades específicas de cada cliente."
        />
        
        <TextBox 
            title1="Mis hobbies..." 
            title2=""
            content1=""
            content2="En mi tiempo libre soy un aficionado a los acuarios y todo lo relacionado a ello, además adoro los videojuegos y disfrutar de una buena taza de café por las tardes."
        />

    </div>

</Layout>

