---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import TextBox from "../components/TextBox.astro";
import ProjectCards from "../components/ProjectCards.astro";

const projects = [
    
    {
        title: 'GearShift Rent A Car',
        img:'/images/projects/gearshift.png',
        route:'/projects/gearshift',
        tecnologies:[
            {
                route: '/images/skills/html.png',
            },
            {
                route: '/images/skills/css.png',
            },
            {
                route: '/images/skills/bootstrap.png',
            }
        ]
    },    
    {
        title: 'MacaoExpress',
        img:'/images/projects/macaoexpress.png',
        route:'macaoexpress',
        tecnologies:[
            {
                route: '/images/skills/html.png',
            },
            {
                route: '/images/skills/css.png',
            },
            {
                route: '/images/skills/bootstrap.png',
            },
            {
                route: '/images/skills/linux.png',
            }
        ]
    },
    
]
---

<Layout title="Proyectos - Roger Barahona">
    <div slot="left-side" class="p-4 flex flex-col space-y-4 justify-center items-center">
        <TextBox 
        title1="Proyectos..."
        title2="Mira los proyectos en los que he colaborado"
        content1=""
        content2="Al comenzar o colaborar en nuevos proyectos, la meta siempre es conseguir algo excepcional, duradero y de f치cil manejo, haciendo uso de pr치cticas de c칩digo limpio. El objetivo es siempre conseguir una experiencia de usuario fluida con visuales impresionantes y f치ciles de manejar."
        />
    </div>

    <div slot="rigth-side" class="p-4 grid grid-cols-2 space-y-4 justify-center items-center">
        
            {projects.map((element) =>(
                <ProjectCards url={element.route} title={element.title} image={element.img}>
                    <div class="flex pl-4">
                        {element.tecnologies.map((item) =>(
                            <img src={item.route} alt="" class="w-5 h-5 ml-4 mb-2">
                        ))}
                    </div>
                </ProjectCards>
            ))}
    </div>
</Layout>