---
export interface Props {
    emoji: string;
    title: string;
    description: string;
}

const { emoji, title, description} = Astro.props;
---

<div class="grid grid-cols-1 bg-slate-300 p-4 rounded-lg m-2">
    <div class="text-2xl"> { emoji } </div>
    <div class="grid grid-cols-1 ">
        <div class="text-xl">{ title }</div>
        <div class="text-base">{ description }</div>
        
    </div>
</div>