---
export interface Props {
    title1: string;
    title2: string;
    content1: string;
    content2: string;
}

const { title1, title2, content1, content2 } = Astro.props;
---

<div class="flex ">
    <div class="flex font-bold pb-2 vertical pt-8"> 
        {title1}
    </div>
    
    <div class="text-base p-2 border-l-2 align-bottom content-end">
        <div class="flex justify-center">
            <slot />
        </div>
        <p class="font-medium text-3xl">{title2}</p>
        <p>{content1}</p>
        <br>
        <p>{content2}</p>
        <slot name="content" />
    </div>
</div>

<style>
    div  {
        color:rgb(184, 225, 221)
    }

    .vertical{
        writing-mode: sideways-lr;
    }

</style>
